@font-face {
  font-family: Andy-Bold;
  src: url(ANDYB.TTF);
}

body {
  background-color:rgb(35, 39, 46);
}

h1, h4 {
  color: white;
  font-family: Andy-Bold, serif;
  margin: 10px;
}

h1, h4, #gameWorld, #toggle-boxes, #light-slider {
  user-select: none;
  outline: none;
  width: max-content;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

#canvas-container {
  width: 1024px;
  display: block;
  margin: auto;
}

#canvas-container > div {
  width: 100px;
}

#gameWorld {
  border-radius: 5px;
  background-color: rgb(74, 145, 53);
}

h4 {
  font-size: 24px;
  margin-left: 0;

}

#canvas-container div {
  display: inline-block;
  margin-right: 50px;
}