@font-face {
  font-family: Andy-Bold;
  src: url(ANDYB.TTF);
}

body {
  background-color:rgb(35, 39, 46);
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: Andy-Bold, serif;
  user-select: none;
}

#canvas-container {
  width: 100%;
}

#gameWorld {
  outline: none;
  border-radius: 5px;
  background: #68bcfc;
  display: block;
  margin: auto;
}